﻿@model CMS.Models.ExecSqlModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutFolder.cshtml";
}

@using (Html.BeginForm("Create", "ExecSql", FormMethod.Post))
{
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-9 col-sm-offset-3">
                @Html.TextAreaFor(model => model.SqlText, new { @style = "width:100%;", @placeholder = "Câu lệnh sql", @autofocus = "autofocus", @rows = 20 })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-9 col-sm-offset-3">
                <div class="pull-right">
                    <button type="submit" class="btn btn-danger">Cập nhật</button>
                </div>
            </div>
        </div>
    </div>
}
