﻿.AdminLogin .form-control-lg{font-size:14px;}
.AdminLogin .form-control, .form-select{height:initial;}
.AdminLogin #to-recover{color:#7a7a7a;}
.table td, .table th{padding: 8px;font-size:13px;}
.table th{font-weight:bold;}
.form-control-span{float:left;padding: 10px;}
.form-control-span-main{float:left;}
.form-actions{float:left;width:100%;text-align:right;}
.pagination{padding-left: 10px;}
.pagination a.page-link{color:#000000;}
.select2-container--default .select2-selection--single{border-radius:0px !important;}
.divDateTime .mydatepicker {height: calc(1.3em + 0.9rem + 3px) !important;}
.divDateTime .input-group-append .input-group-text {padding: 0.3rem 0.75rem;border-bottom: 1px solid #f8f9fa;}
.form-control {border: 1px solid #d3d5d7;}
#AlertBox{position: fixed; right:10px;top: 100px;width: 350px;z-index:9;}
.alert{padding:0px; border:0px;}
.hidden-sm{display:none;}
@media (max-width:480px) {
    #AlertBox{top: 5px;}
    .card-body{padding:0px;}
    .card{display:initial;}
    .col-xs-12, .col-sm-12{width:100%;}
    .hidden-xs{display:none;}
    .hidden-sm {
        display: block;;
    }
}