﻿@model CMS.Areas.Admin.Models.PassModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}
<div class="card">
    <div class="card-body">
        @using (Html.BeginForm("ChangePass", "LoginAccount", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="col-sm-8 form-control-span">
                <div class="col-sm-12 form-control-span-main">
                    <div class="form-group mt-3">
                        <label class="control-label">
                            Mật khẩu cũ
                            <span class="help-inline " style="color:red;">*</span>
                        </label>
                        <div class="controls">
                            @Html.TextBoxFor(model => model.oldPass, new { @class = "form-control", @placeholder = "Mật khẩu cũ", @autofocus = "autofocus", @type = "password" })
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <label class="control-label">
                            Mật khẩu mới
                            <span class="help-inline " style="color:red;">*</span>
                        </label>
                        <div class="controls">
                            @Html.TextBoxFor(model => model.pass, new { @class = "form-control", @placeholder = "Mật khẩu mới", @autofocus = "autofocus", @type = "password" })
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <label class="control-label">
                            Nhập lại mật khẩu
                            <span class="help-inline " style="color:red;">*</span>
                        </label>
                        <div class="controls">
                            @Html.TextBoxFor(model => model.confirmPass, new { @class = "form-control", @placeholder = "Nhập lại mật khẩu", @autofocus = "autofocus", @type = "password" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions no-margin">
                <a href="/Admin/LoginAccount/Detail" class="btn btn-secondary btn-sm">Hủy</a>
                <button type="submit" class="btn btn-success btn-sm text-white">Cập nhật</button>
            </div>
        }
        <div class="clearfix">
        </div>
    </div>
</div>

