﻿@model CMS.Model.LoginAccount
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}
<div class="card">
    <div class="card-body">
        @using (Html.BeginForm("Details", "ManagerLoginAccount", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="col-sm-8 form-control-span">
                <div class="col-sm-12 form-control-span-main">
                    <div class="form-group mt-3">
                        <label class="control-label">
                            Tài khoản
                            <span class="help-inline " style="color:red;">
                                *
                            </span>
                        </label>
                        <div class="controls">
                            @Html.TextBoxFor(model => model.FullName, new { @class = "form-control", @placeholder = "Tên tài khoản", @autofocus = "autofocus" })
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <label class="control-label">
                            Tên đăng nhập
                            <span class="help-inline " style="color:red;">
                                *
                            </span>
                        </label>
                        <div class="controls">
                            <div class="input-group">
                                @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @placeholder = "", @autofocus = "autofocus", disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <label class="control-label">
                            Nhóm quyền
                        </label>
                        <div class="controls">
                            @Html.DropDownListFor(model => model.GroupAccountId, null, new { @class = "form-control", disabled = "disabled" })
                            @Html.ValidationMessageFor(model => model.GroupAccountId)
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 form-control-span">
                <div class="col-sm-12 form-control-span-main">
                    <div class="form-group mt-3">
                        <label class="control-label">
                            Điện thoại
                        </label>
                        <div class="controls">
                            @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", @placeholder = "", @autofocus = "autofocus" })
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <label class="control-label">
                            Email
                        </label>
                        <div class="controls">
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "", @autofocus = "autofocus" })
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <label class="control-label">
                            Địa chỉ
                        </label>
                        <div class="controls">
                            @Html.TextBoxFor(model => model.Address, new { @class = "form-control", @placeholder = "", @autofocus = "autofocus" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions no-margin">
                <a href="/Admin/ManagerLoginAccount/Details" class="btn btn-secondary btn-sm">Hủy</a>
                <button type="submit" class="btn btn-success btn-sm text-white">Cập nhật</button>
            </div>
        }
        <div class="clearfix">
        </div>
    </div>
</div>

