﻿@model CMS.Model.Order
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}
<div class="card">
    <div class="card-body">
        @using (Html.BeginForm("Create", "ManagerOrder", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="col-sm-5 col-xs-12 form-control-span">
                <div class="col-sm-12 form-control-span-main">
                    <div class="form-group mt-3">
                        <label class="control-label">
                            Thời gian bắt đầu
                        </label>
                        <div class="controls">
                            @{
                                int minute = DateTime.Now.Minute;
                                int hour = DateTime.Now.Hour;
                                <select class="form-control" id="HoursStart" name="HoursStart" style="width: 48%; height: 36px; float: left; border-color: #d3d5d7;margin-right: 5px;">
                                    @for (int i = 1; i <= 24; i++)
                                    {
                                        <option value="@i" @(hour == i ? "selected" : "")>@i giờ </option>
                                    }
                                </select>
                                <select class="form-control" id="MinuteStart" name="MinuteStart" style="width: 48%; height: 36px; float: left; border-color: #d3d5d7; ">
                                    @for (int i = 0; i <= 60; i++)
                                    {
                                        <option value="@i" @(minute == i ? "selected" : "")>@i phút </option>
                                    }
                                </select>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-7 col-xs-12 form-control-span">
                <div class="col-sm-12 form-control-span-main">
                    <div class="form-group mt-3">
                        <label class="control-label">
                            Khách hàng
                            <span class="help-inline " style="color:red;">*</span>
                        </label>
                        <div class="controls">
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "", @autofocus = "autofocus" })
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <label class="control-label">
                            Số điện thoại
                        </label>
                        <div class="controls">
                            @Html.TextBoxFor(model => model.Mobile, new { @class = "form-control", @placeholder = "", @autofocus = "autofocus" })
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <label class="control-label">
                            Ghi chú
                        </label>
                        <div class="controls">
                            @Html.TextAreaFor(model => model.Note, new { @class = "form-control", @placeholder = "", @autofocus = "autofocus", style = "height:100px;" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions no-margin">
                <a href="/Admin/ManagerOrder/Index/1" class="btn btn-secondary btn-sm">Hủy</a>
                <button type="submit" class="btn btn-success btn-sm text-white">Thêm mới</button>
            </div>
        }
        <div class="clearfix">
        </div>
    </div>
</div>
