﻿@model CMS.Model.Order
@using CMS.Model
@using CMS.Dao
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}
@section ScriptsBottom{
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <script src="~/Areas/Admin/js/cart.js"></script>
}
<div class="card">
    <div class="card-body">
        @using (Html.BeginForm("Edit", "ManagerOrder", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="col-sm-5 col-xs-12 form-control-span">
                <div class="col-sm-12 form-control-span-main">
                    <div class="form-group mt-3" style="width:100%;float:left;">
                        <label class="control-label">
                            @switch (Model.Id.ToString().Length)
                            {
                                case 1:
                                    <span style="font-weight:bold;margin:0px;">Mã đơn hàng: HĐ000@(Model.Id)</span>
                                    break;
                                case 2:
                                    <span style="font-weight:bold;margin:0px;">Mã đơn hàng: HĐ00@(Model.Id)</span>
                                    break;
                                case 3:
                                    <span style="font-weight:bold;margin:0px;">Mã đơn hàng: HĐ0@(Model.Id)</span>
                                    break;
                                default:
                                    <span style="font-weight:bold;margin:0px;">Mã đơn hàng: HĐ@(Model.Id)</span>
                                    break;
                            }
                        </label>
                        <div class="controls">
                            <p style="margin:0px;">
                                Ngày @Convert.ToDateTime(Model.DateTimeStart).ToString("dd/MM/yyyy")
                                @if (Model.Status == CMS.Common.Keywords.DataStatus.Deleted)
                                {
                                    <span class="badge bg-danger">Đã hủy</span>
                                }
                                else if (Model.Status == CMS.Common.Keywords.DataStatus.Success)
                                {
                                    <span class="badge bg-success">Đã thanh toán</span>
                                }
                                else
                                {
                                    <span class="badge bg-primary">Đang câu</span>
                                }
                            </p>
                        </div>
                    </div>
                    <div class="form-group mt-3" style="width: 100%; float: left; margin-top: 0px !important">
                        <label class="control-label">
                            Thời gian bắt đầu
                        </label>
                        <div class="controls">
                            @{
                                int minute = Model.DateTimeStart.Value.Minute;
                                int hour = Model.DateTimeStart.Value.Hour;
                                <select class="form-control" id="HoursStart" name="HoursStart" onchange="CheckTime(@Model.Id.ToString())" style="width: 48%; height: 36px; float: left; border-color: #d3d5d7;margin-right: 5px;border-color:#00aa1e;">
                                    @for (int i = 1; i <= 24; i++)
                                    {
                                        <option value="@i" @(hour == i ? "selected" : "")>@i giờ </option>
                                    }
                                </select>
                                <select class="form-control" id="MinuteStart" name="MinuteStart" onchange="CheckTime(@Model.Id.ToString())" style="width: 48%; height: 36px; float: left; border-color: #d3d5d7; border-color: #00aa1e;">
                                    @for (int i = 0; i <= 60; i++)
                                    {
                                        <option value="@i" @(minute == i ? "selected" : "")>@i phút </option>
                                    }
                                </select>
                            }
                        </div>
                    </div>
                    <div class="form-group mt-3" style="width: 100%; float: left; margin-top: 0px !important;">
                        <label class="control-label">
                            Thời gian kết thúc
                        </label>
                        <div class="controls">
                            @{
                                int minuteEnd = DateTime.Now.Minute;
                                int hourEnd = DateTime.Now.Hour;
                                <select class="form-control" id="HoursEnd" name="HoursEnd" onchange="CheckTime(@Model.Id.ToString())" style="width: 48%; height: 36px; float: left; border-color: #d3d5d7; margin-right: 5px; border-color: #eb0505;">
                                    @for (int i = 1; i <= 24; i++)
                                    {
                                        <option value="@i" @(hourEnd == i ? "selected" : "")>@i giờ </option>
                                    }
                                </select>
                                <select class="form-control" id="MinuteEnd" name="MinuteEnd" onchange="CheckTime(@Model.Id.ToString())" style="width: 48%; height: 36px; float: left; border-color: #d3d5d7; border-color: #eb0505;">
                                    @for (int i = 0; i <= 60; i++)
                                    {
                                        <option value="@i" @(minuteEnd == i ? "selected" : "")>@i phút </option>
                                    }
                                </select>
                            }
                        </div>
                    </div>
                    <div class="form-group mt-3" style="width: 100%; float: left; margin-top: 0px !important;">
                        <label class="control-label">
                            Tổng thời gian:
                            @{
                                TimeSpan ts = new TimeSpan();
                                ts = DateTime.Now.Subtract(Model.DateTimeStart.Value);
                                double totalminute = 0;
                                totalminute = Math.Round(ts.TotalMinutes, 0);
                                if (totalminute < 0) { totalminute = 0; }
                                PriceBoardDao logic = new PriceBoardDao();
                                List<PriceBoard> list = new List<PriceBoard>();
                                list = logic.PriceBoardSearch(CMS.Common.Keywords.DataStatus.Display, totalminute);
                                <span id="pTime">
                                    @((int)totalminute / 60) giờ @((int)totalminute % 60) phút
                                    @if (list.Count > 0)
                                    {
                                        <span class='badge bg-info' onclick="ChanePrice(@list[0].Price)">@(String.Format("{0:n0}", list[0].Price))đ</span>
                                    }
                                </span>
                            }
                        </label>
                        <div class="controls">
                        </div>
                    </div>
                    <div class="form-group mt-3" style="width: 100%; float: left; margin-top: 0px !important;">
                        <label class="control-label">
                            Tiền câu
                        </label>
                        <div class="controls">
                            @Html.TextBoxFor(model => model.TotalPayment, new { @class = "form-control", onkeyup = "changeValue()", type = "number", min = "0" })
                        </div>
                    </div>
                    <div class="form-group mt-3" style="width: 100%; float: left; margin-top: 0px !important;">
                        <label class="control-label">
                            Phí dịch vụ
                        </label>
                        <div class="controls">
                            @Html.TextBoxFor(model => model.Promotion, new { @class = "form-control", onkeyup = "changeValue()", type = "number", min = "0" })
                        </div>
                    </div>
                    <div class="form-group mt-3" style="width: 100%; float: left; margin-top: 0px !important;">
                        @if (Model.Status == CMS.Common.Keywords.DataStatus.Deleted)
                        {
                            <label class="control-label badge bg-danger" id="TotalPrice" style="float:left;width:100%;padding:10px;font-size:14px;">
                                Thanh toán: @(String.Format("{0:0,0}", (Model.Promotion + Model.TotalPayment))) đ
                            </label>
                        }
                        else if (Model.Status == CMS.Common.Keywords.DataStatus.Success)
                        {
                            <label class="control-label badge bg-success" id="TotalPrice" style="float:left;width:100%;padding:10px;font-size:14px;">
                                Thanh toán: @(String.Format("{0:0,0}", (Model.Promotion + Model.TotalPayment))) đ
                            </label>
                        }
                        else
                        {
                            <label class="control-label badge bg-primary" id="TotalPrice" style="float:left;width:100%;padding:10px;font-size:14px;">
                                Thanh toán: @(String.Format("{0:0,0}", (Model.Promotion + Model.TotalPayment))) đ
                            </label>
                        }
                        <div class="controls">
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-7 col-xs-12 form-control-span">
                <div class="col-sm-12 form-control-span-main">
                    <div class="form-group mt-3">
                        <label class="control-label">
                            Khách hàng
                            <span class="help-inline " style="color:red;">*</span>
                        </label>
                        <div class="controls">
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "" })
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <label class="control-label">
                            Số điện thoại
                        </label>
                        <div class="controls">
                            @Html.TextBoxFor(model => model.Mobile, new { @class = "form-control", @placeholder = "" })
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <label class="control-label">
                            Ghi chú
                        </label>
                        <div class="controls">
                            @Html.TextAreaFor(model => model.Note, new { @class = "form-control", @placeholder = "", style = "height:100px;" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions no-margin">
                <a href="/Admin/ManagerOrder/Index/1" class="btn btn-secondary btn-sm">Quay lại</a>
                @if (Model.Status == CMS.Common.Keywords.DataStatus.Display)
                {
                    @Ajax.ActionLink("Hủy đơn hàng", "Delete", new { id = "Details-" + CMS.Common.StringProcess.Encryption.Encode(Model.Id.ToString()) }, new AjaxOptions { Confirm = "Bạn có muốn hủy bản ghi này hay không?", HttpMethod = "Delete" }, new { @class = "btn btn-danger btn-sm" })
                    <button type="submit" class="btn btn-info btn-sm text-white">Lưu</button>
                    @Ajax.ActionLink("Thanh toán", "PaymentOrder", new { id = CMS.Common.StringProcess.Encryption.Encode(Model.Id.ToString()) }, new AjaxOptions { HttpMethod = "PaymentOrder" }, new { @class = "btn btn-success btn-sm" })
                }
            </div>
        }
        <div class="clearfix">
        </div>
    </div>
</div>
