﻿@model List<CMS.Model.Order_GetByPage_Result>
@using CMS.Dao
@using CMS.Model
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}
<style type="text/css">
    p {
        margin: 0px;
    }
</style>
@section ButtomRight {
    <div class="ms-auto text-end">
        <a href="/Admin/ManagerOrder/Create" title="Thêm mới thẻ" class="btn btn-info btn-sm">
            <span class="fas fa-plus"></span> Thêm mới
        </a>
    </div>
}
<div class="row-fluid card">
    <div class="col-md-12">
        <div class="widget">
            <div class="widget-body">
                <table class="table table-condensed table-striped table-bordered table-hover no-margin">
                    <tr>
                        <th>Đơn hàng</th>
                        <th class="hidden-xs">Thời gian</th>
                        <th>Khách hàng</th>
                        <th class="hidden-xs">Thanh toán</th>
                        <th class="hidden-xs">Ghi chú</th>
                        <th>Chức năng</th>
                    </tr>
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        var item = Model[i];
                        <tr id="row_@item.Id">
                            <td>
                                @switch (item.Id.ToString().Length)
                                {
                                    case 1:
                                        <p style="font-weight:bold;margin:0px;">Mã đơn hàng: HĐ000@(item.Id)</p>
                                        break;
                                    case 2:
                                        <p style="font-weight:bold;margin:0px;">Mã đơn hàng: HĐ00@(item.Id)</p>
                                        break;
                                    case 3:
                                        <p style="font-weight:bold;margin:0px;">Mã đơn hàng: HĐ0@(item.Id)</p>
                                        break;
                                    default:
                                        <p style="font-weight:bold;margin:0px;">Mã đơn hàng: HĐ@(item.Id)</p>
                                        break;
                                }
                                <p>
                                    Ngày @Convert.ToDateTime(item.DateTimeStart).ToString("dd/MM/yyyy")
                                    @if (item.Status == CMS.Common.Keywords.DataStatus.Deleted)
                                    {
                                        <span class="badge bg-danger">Đã hủy</span>
                                    }
                                    else if (item.Status == CMS.Common.Keywords.DataStatus.Success)
                                    {
                                        <span class="badge bg-success">Đã thanh toán</span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-primary">Đang câu</span>
                                    }
                                </p>
                            </td>
                            <td class="hidden-xs">
                                
                                <p>Bắt đầu: @Convert.ToDateTime(item.DateTimeStart).ToString("HH:mm")</p>
                                @if (item.DateTimeEnd != null)
                                {
                                    <p>Kết thúc: @Convert.ToDateTime(item.DateTimeEnd).ToString("HH:mm")</p>
                                }
                                else
                                {
                            <p>Kết thúc: -----</p>
                                }
                            </td>
                            <td>
                                <p>
                                    @item.Name @if (item.Mobile != null)
                                    {
                                        <span class="label bg-info">@item.Mobile</span>
                                    }
                                </p>
                                @{
                                    TimeSpan ts = new TimeSpan();
                                    if (item.Status == CMS.Common.Keywords.DataStatus.Success)
                                    {
                                        if (item.DateTimeEnd != null)
                                        {
                                            ts = item.DateTimeEnd.Value.Subtract(item.DateTimeStart.Value);
                                        }
                                        else
                                        {
                                            ts = DateTime.Now.Subtract(item.DateTimeStart.Value);
                                        }
                                    }
                                    else
                                    {
                                        ts = DateTime.Now.Subtract(item.DateTimeStart.Value);
                                    }
                                    double totalminute = 0;
                                    totalminute = Math.Round(ts.TotalMinutes, 0);
                                    <span class="hidden-sm">@((int)totalminute / 60) giờ @((int)totalminute % 60) phút</span>
                                }
                                @if (item.Status == CMS.Common.Keywords.DataStatus.Deleted)
                                {
                                    <span class="badge bg-danger hidden-sm">Tổng tiền: @String.Format("{0:0,0}", item.TotalPayment + item.Promotion)đ</span>
                                }
                                else if (item.Status == CMS.Common.Keywords.DataStatus.Success)
                                {
                                    <span class="badge bg-success hidden-sm">Tổng tiền: @String.Format("{0:0,0}", item.TotalPayment + item.Promotion)đ</span>
                                }
                                else
                                {
                                    <span class="badge bg-primary hidden-sm">Tổng tiền: @String.Format("{0:0,0}", item.TotalPayment + item.Promotion)đ</span>
                                }
                            </td>
                            <td class="hidden-xs">
                                @{
                                    <span>@((int)totalminute / 60) giờ @((int)totalminute % 60) phút</span>
                                }
                                @if (item.Status == CMS.Common.Keywords.DataStatus.Deleted)
                                {
                                    <span class="badge bg-danger">Tổng tiền: @String.Format("{0:0,0}", item.TotalPayment+ item.Promotion)đ</span>
                                }
                                else if (item.Status == CMS.Common.Keywords.DataStatus.Success)
                                {
                                    <span class="badge bg-success">Tổng tiền: @String.Format("{0:0,0}", item.TotalPayment + item.Promotion)đ</span>
                                }
                                else
                                {
                                    <span class="badge bg-primary">Tổng tiền: @String.Format("{0:0,0}", item.TotalPayment + item.Promotion)đ</span>
                                }
                            </td>
                            <td class="hidden-xs">
                                @item.Note
                            </td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-danger btn-sm text-white dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Action
                                        <span class="caret"></span>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href='/Admin/ManagerOrder/Details/@CMS.Common.StringProcess.Encryption.Encode(item.Id.ToString())'>Chi tiết</a>
                                        @if (item.Status == CMS.Common.Keywords.DataStatus.Display)
                                        {
                                            <a class="dropdown-item" href='/Admin/ManagerOrder/Edit/@CMS.Common.StringProcess.Encryption.Encode(item.Id.ToString())'>Sửa</a>
                                            @Ajax.ActionLink("Hủy", "Delete", new { id = "List-" + CMS.Common.StringProcess.Encryption.Encode(item.Id.ToString()) }, new AjaxOptions { Confirm = "Bạn có muốn hủy bản ghi này hay không?", OnComplete = "$('#row_" + item.Id + "').remove()", HttpMethod = "Delete" }, new { @class = "dropdown-item" })
                                        }
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </table>
            </div>
            <div class="widget-body">
                <div class="dataTables_paginate paging_simple_numbers">
                    <ul class="pagination">
                        @{
                            if (Model.Count > 0)
                            {
                                int totlePage = 1;
                                var totalCount = Model[0].countRow;
                                if (Convert.ToInt32(totalCount) % Convert.ToInt32(ViewBag.PageSize) == 0)
                                {
                                    totlePage = Convert.ToInt32(totalCount) / Convert.ToInt32(ViewBag.PageSize);
                                }
                                else
                                {
                                    totlePage = (Convert.ToInt32(totalCount) / Convert.ToInt32(ViewBag.PageSize)) + 1;
                                }
                                <li class="paginate_button page-item">
                                    <a class="page-link" href="#">
                                        Tổng số @totalCount bản ghi. Trang: @ViewBag.Page/@totlePage
                                    </a>
                                </li>

                                if (ViewBag.Page != "1" && totlePage > 1)
                                {
                                    <li class="active paginate_button page-item" style="margin-right:2px;">
                                        <a class="page-link" href="/Admin/ManagerOrder/Index/@((Convert.ToInt32(ViewBag.Page) - 1).ToString())">
                                            <span class="me-2 mdi mdi-arrow-left-bold"></span> Trang sau
                                        </a>
                                    </li>
                                }
                                if (ViewBag.Page != totlePage.ToString() && totlePage > 1)
                                {
                                    <li class="active paginate_button page-item">
                                        <a class="page-link" href="/Admin/ManagerOrder/Index/@((Convert.ToInt32(ViewBag.Page) + 1).ToString())">
                                            Trang tiếp <span class="me-2 mdi mdi-arrow-right-bold"></span>
                                        </a>
                                    </li>
                                }
                            }
                        }

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
