﻿@model List<CMS.Model.Order>
@using CMS.Dao
@using CMS.Model
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}
<style type="text/css">
    p {
        margin: 0px;
    }
</style>
@section ButtomRight {
    <div class="ms-auto text-end">
        <a href="/Admin/ManagerOrder/Create" title="Thêm mới thẻ" class="btn btn-info btn-sm">
            <span class="fas fa-plus"></span> Thêm mới
        </a>
    </div>
}
<style type="text/css">
    p {
        margin: 0px;
    }

    .divDateTime .mydatepicker {
        height: calc(1.2em + 0.75rem + 2px) !important;
        border: 1px;
    }

    .divDateTime .input-group-text {
        padding: 0.1rem 0.75rem;
    }
</style>
@section ScriptsBottom{
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Bootstrap-5-Matrix-Admin/assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" />
    <script src="~/Areas/Admin/Bootstrap-5-Matrix-Admin/assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script>
        jQuery(".mydatepicker").datepicker({
            format: "dd/mm/yyyy"
        });
        var slug = function (str) {
            str = str.replace(/^\s+|\s+$/g, ''); // trim
            str = str.toLowerCase();

            // remove accents, swap ñ for n, etc
            var from = "aAeEoOuUiIdDyYáàạảãâấầậẩẫăắằặẳẵÁÀẠẢÃÂẤẦẬẨẪĂẮẰẶẲẴéèẹẻẽêếềệểễÉÈẸẺẼÊẾỀỆỂỄóòọỏõôốồộổỗơớờợởỡÓÒỌỎÕÔỐỒỘỔỖƠỚỜỢỞỠúùụủũưứừựửữÚÙỤỦŨƯỨỪỰỬỮíìịỉĩÍÌỊỈĨđĐýỳỵỷỹÝỲỴỶỸãàáäâẽèéëêìíïîõòóöôùúüûñç·/_,:;";
            var to = "aaeeoouuiiddyyaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaeeeeeeeeeeeeeeeeeeeeeeoooooooooooooooooooooooooooooooooouuuuuuuuuuuuuuuuuuuuuuiiiiiiiiiiddyyyyyyyyyyaaaaaeeeeeiiiiooooouuuunc______";
            for (var i = 0, l = from.length ; i < l ; i++) {
                str = str.replace(new RegExp(from.charAt(i), 'g'), to.charAt(i));
            }

            str = str.replace(/[^a-z0-9 -]/g, '') // remove invalid chars
              .replace(/\s+/g, '_') // collapse whitespace and replace by -
              .replace(/-+/g, '_'); // collapse dashes

            return str;
        };
        function Search() {
            var txtKey = document.getElementById("txtKey").value;
            if (txtKey == "") { txtKey = "null"; }
            else { txtKey = slug($('#txtKey').val()); }
            var txtDateEnd = (String($('#dEnd').val())).replace("/", "_").replace("/", "_");
            var txtDateStart = (String($('#dStart').val())).replace("/", "_").replace("/", "_");
            if (txtDateEnd == "") { txtDateEnd = "null"; }
            if (txtDateStart == "") { txtDateStart = "null"; }
            window.location.href = "/Admin/ManagerOrder/Search/" + txtKey + "-" + txtDateStart + "-" + txtDateEnd + "-1";
        }
    </script>
}
<div class="row-fluid card" style="flex-direction:initial;background:none;">
    <div class="col col-md-3 col-xs-12" style="padding: 5px;">
        @if (ViewBag.Key != "null")
        {
            <input type="text" style="border: 1px solid #aaa; height: 28px;" class="form-control" id="txtKey" name="txtKey" value="@(((string)ViewBag.Key).Replace("_"," "))" placeholder="Tên khách hàng hoặc số điện thoại">
        }
        else
        {
            <input type="text" style="border: 1px solid #aaa; height: 28px;" class="form-control" id="txtKey" name="txtKey" placeholder="Tên khách hàng hoặc số điện thoại">
        }
    </div>
    <div class="col col-md-3 col-xs-12" style="padding: 5px;">
        <div class="input-group divDateTime">
            @if (ViewBag.dStart != "null")
            {
                <input type="text" class="form-control mydatepicker" value="@((Convert.ToString(ViewBag.dStart)).Replace("_","/"))" id="dStart" placeholder="Từ ngày" />
            }
            else
            {
                <input type="text" class="form-control mydatepicker" id="dStart" placeholder="Từ ngày" />
            }
            <div class="input-group-append">
                <span class="input-group-text h-100" style="padding: 0.1rem 0.75rem;"><i class="mdi mdi-calendar"></i></span>
            </div>
        </div>
    </div>
    <div class="col col-md-3 col-xs-12" style="padding: 5px;">
        <div class="input-group divDateTime">
            @if (ViewBag.dEnd != "null")
            {
                <input type="text" class="form-control mydatepicker" value="@((Convert.ToString(ViewBag.dEnd)).Replace("_","/"))" id="dEnd" placeholder="Đến ngày" />
            }
            else
            {
                <input type="text" class="form-control mydatepicker" id="dEnd" placeholder="Đến ngày" />
            }

            <div class="input-group-append">
                <span class="input-group-text h-100" style="padding: 0.1rem 0.75rem;"><i class="mdi mdi-calendar"></i></span>
            </div>
        </div>
    </div>
    <div class="col col-md-3 col-xs-12" style="padding: 5px;">
        <button type="button" onclick="Search()" class="btn btn-success btn-sm text-white">
            <span class="fas fa-search"></span> Tìm kiếm
        </button>
        <a href="/Admin/ManagerOrder/ExportToExcel/@(ViewBag.Key + "-" + ViewBag.dStart + "-" + ViewBag.dEnd)" class="btn btn-warning btn-sm text-white" title="Báo cá class="btn btn-warning btn-sm text-white" title="Báo cáo"><i class="fas fa-download"></i> Xuất file báo cáo</a>
    </div>
</div>
<div class="alert alert-danger" style="padding: 10px; border: 1px solid #efc2b4;">
    <p>
        Đã thanh toán: <span style="font-weight:bold;">@ViewBag.OrderSuccess đơn</span>
    </p>
    <p>Tổng tiền: <span style="font-weight:bold;">@(ViewBag.PriceSuccess)đ</span></p>
</div>
<div class="row-fluid card">
    <div class="col-md-12">
        <div class="widget">
            <div class="widget-body">
                <table class="table table-condensed table-striped table-bordered table-hover no-margin">
                    <tr>
                        <th>Đơn hàng</th>
                        <th class="hidden-xs">Thời gian</th>
                        <th>Khách hàng</th>
                        <th class="hidden-xs">Thanh toán</th>
                        <th class="hidden-xs">Ghi chú</th>
                        <th>Chức năng</th>
                    </tr>
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        var item = Model[i];
                        <tr id="row_@item.Id">
                            <td>
                                @switch (item.Id.ToString().Length)
                                {
                                    case 1:
                                        <p style="font-weight:bold;margin:0px;">Mã đơn hàng: HĐ000@(item.Id)</p>
                                        break;
                                    case 2:
                                    <p style="font-weight:bold;margin:0px;">Mã đơn hàng: HĐ00@(item.Id)</p>
                                        break;
                                    case 3:
                                    <p style="font-weight:bold;margin:0px;">Mã đơn hàng: HĐ0@(item.Id)</p>
                                        break;
                                    default:
                                    <p style="font-weight:bold;margin:0px;">Mã đơn hàng: HĐ@(item.Id)</p>
                                        break;
                                }
                                <p>
                                    Ngày @Convert.ToDateTime(item.DateTimeStart).ToString("dd/MM/yyyy")
                                    @if (item.Status == CMS.Common.Keywords.DataStatus.Deleted)
                                    {
                                        <span class="badge bg-danger">Đã hủy</span>
                                    }
                                    else if (item.Status == CMS.Common.Keywords.DataStatus.Success)
                                    {
                                        <span class="badge bg-success">Đã thanh toán</span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-primary">Đang câu</span>
                                    }
                                </p>
                            </td>
                            <td class="hidden-xs">

                                <p>Bắt đầu: @Convert.ToDateTime(item.DateTimeStart).ToString("HH:mm")</p>
                                @if (item.DateTimeEnd != null)
                                {
                                    <p>Kết thúc: @Convert.ToDateTime(item.DateTimeEnd).ToString("HH:mm")</p>
                                }
                                else
                                {
                                    <p>Kết thúc: -----</p>
                                }
                            </td>
                            <td>
                                <p>
                                    @item.Name
                                    @if (item.Mobile != null)
                                    {
                                        <span class="label bg-info">@item.Mobile</span>
                                    }
                                </p>
                                @{
                                    TimeSpan ts = new TimeSpan();
                                    if (item.Status == CMS.Common.Keywords.DataStatus.Success)
                                    {
                                        if (item.DateTimeEnd != null)
                                        {
                                            ts = item.DateTimeEnd.Value.Subtract(item.DateTimeStart.Value);
                                        }
                                        else
                                        {
                                            ts = DateTime.Now.Subtract(item.DateTimeStart.Value);
                                        }
                                    }
                                    else
                                    {
                                        ts = DateTime.Now.Subtract(item.DateTimeStart.Value);
                                    }
                                    double totalminute = 0;
                                    totalminute = Math.Round(ts.TotalMinutes, 0);
                                    <span class="hidden-sm">@((int)totalminute / 60) giờ @((int)totalminute % 60) phút</span>
                                }
                                @if (item.Status == CMS.Common.Keywords.DataStatus.Deleted)
                                {
                                    <span class="badge bg-danger hidden-sm">Tổng tiền: @String.Format("{0:0,0}", item.TotalPayment + item.Promotion)đ</span>
                                }
                                else if (item.Status == CMS.Common.Keywords.DataStatus.Success)
                                {
                                    <span class="badge bg-success hidden-sm">Tổng tiền: @String.Format("{0:0,0}", item.TotalPayment + item.Promotion)đ</span>
                                }
                                else
                                {
                                    <span class="badge bg-primary hidden-sm">Tổng tiền: @String.Format("{0:0,0}", item.TotalPayment + item.Promotion)đ</span>
                                }
                            </td>
                            <td class="hidden-xs">
                                @{
                                    <span>@((int)totalminute / 60) giờ @((int)totalminute % 60) phút</span>
                                    }
                                    @if (item.Status == CMS.Common.Keywords.DataStatus.Deleted)
                                {
                                    <span class="badge bg-danger">Tổng tiền: @String.Format("{0:0,0}", item.TotalPayment + item.Promotion)đ</span>
                                }
                                else if (item.Status == CMS.Common.Keywords.DataStatus.Success)
                                {
                                    <span class="badge bg-success">Tổng tiền: @String.Format("{0:0,0}", item.TotalPayment + item.Promotion)đ</span>
                                }
                                else
                                {
                                    <span class="badge bg-primary">Tổng tiền: @String.Format("{0:0,0}", item.TotalPayment + item.Promotion)đ</span>
                                }
                            </td>
                            <td class="hidden-xs">
                                @item.Note
                            </td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-danger btn-sm text-white dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Action
                                        <span class="caret"></span>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href='/Admin/ManagerOrder/Details/@CMS.Common.StringProcess.Encryption.Encode(item.Id.ToString())'>Chi tiết</a>
                                        @if (item.Status == CMS.Common.Keywords.DataStatus.Display)
                                        {
                                            <a class="dropdown-item" href='/Admin/ManagerOrder/Edit/@CMS.Common.StringProcess.Encryption.Encode(item.Id.ToString())'>Sửa</a>
                                            @Ajax.ActionLink("Hủy", "Delete", new { id = "List-" + CMS.Common.StringProcess.Encryption.Encode(item.Id.ToString()) }, new AjaxOptions { Confirm = "Bạn có muốn hủy bản ghi này hay không?", OnComplete = "$('#row_" + item.Id + "').remove()", HttpMethod = "Delete" }, new { @class = "dropdown-item" })
                                        }
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </table>
            </div>
            <div class="widget-body">
                <div class="dataTables_paginate paging_simple_numbers">
                    <ul class="pagination">
                        @{
                            if (Model.Count > 0)
                            {
                                int totlePage = 1;
                                var totalCount = Convert.ToInt32(ViewBag.TotalCount);
                                if (Convert.ToInt32(totalCount) % Convert.ToInt32(ViewBag.PageSize) == 0)
                                {
                                    totlePage = Convert.ToInt32(totalCount) / Convert.ToInt32(ViewBag.PageSize);
                                }
                                else
                                {
                                    totlePage = (Convert.ToInt32(totalCount) / Convert.ToInt32(ViewBag.PageSize)) + 1;
                                }
                                <li class="paginate_button page-item">
                                    <a class="page-link" href="#">
                                        Tổng số @totalCount bản ghi. Trang: @ViewBag.Page/@totlePage
                                    </a>
                                </li>
                                if (ViewBag.Page != "1" && totlePage > 1)
                                {
                                    <li class="active paginate_button page-item" style="margin-right:2px;">
                                        <a class="page-link" href="/Admin/ManagerOrder/Search/@(ViewBag.Key + "-" + ViewBag.dStart + "-" + ViewBag.dEnd + "-" + (Convert.ToInt32(ViewBag.Page) - 1).ToString())">
                                            <span class="me-2 mdi mdi-arrow-left-bold"></span> Trang sau
                                        </a>
                                    </li>
                                }
                                if (ViewBag.Page != totlePage.ToString() && totlePage > 1)
                                {
                                    <li class="active paginate_button page-item">
                                        <a class="page-link" href="/Admin/ManagerOrder/Search/@(ViewBag.Key + "-" + ViewBag.dStart + "-" + ViewBag.dEnd + "-" + (Convert.ToInt32(ViewBag.Page) + 1).ToString())">
                                            Trang tiếp <span class="me-2 mdi mdi-arrow-right-bold"></span>
                                        </a>
                                    </li>
                                }
                            }
                        }

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
