﻿@{
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}
@using CMS.Dao
@using CMS.Model
<style type="text/css">
    .box {
        min-height: 130px;
    }
</style>
<div class="row">
    <!-- Column -->
    <div class="col-md-6 col-lg-3 col-xlg-3">
        <div class="card card-hover">
            <div class="box bg-cyan text-center">
                <a href="/Admin/ManagerOrder/Create" title="Thêm mới đơn bán">
                    <h1 class="font-light text-white">
                        <i class="fas fa-plus-square"></i>
                    </h1>
                    <h6 class="text-white">Thêm mới đơn bán</h6>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="col col-sm-12" >
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Hôm nay @DateTime.Now.ToString("dd/MM/yyyy")</h4>
        </div>
        <div class="comment-widgets scrollable ps-container ps-theme-default" data-ps-id="81b6ddc1-2e55-4c6b-5c6f-d41d69216a2f">
            <!-- Comment Row -->
            <div class="d-flex flex-row comment-row mt-0">
                <div class="comment-text w-100">
                    <h6 class="font-medium" style="font-size:18px;">Tổng cộng: @ViewBag.TodayTotalOrder đơn hàng</h6>
                    <span class="mb-3 d-block" style="font-size:18px;">
                        Tổng tiền tạm tính: @(ViewBag.TodayTotalPrice)đ
                    </span>
                    <div class="comment-footer">
                        <a href="/Admin/ManagerOrder/Index/1" class="btn btn-primary btn-sm text-white">
                            @ViewBag.TodayTotalOrderDisplay đang câu
                        </a>
                        <a href="/Admin/ManagerOrder/Index/1" class="btn btn-success btn-sm text-white">
                            @ViewBag.TodayTotalOrderSuccess đã thanh toán
                        </a>
                    </div>
                </div>
            </div>
            <!-- Comment Row -->
        </div>
    </div>
</div>
<div class="col col-sm-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Hôm qua @DateTime.Now.AddDays(-1).ToString("dd/MM/yyyy")</h4>
        </div>
        <div class="comment-widgets scrollable ps-container ps-theme-default" data-ps-id="81b6ddc1-2e55-4c6b-5c6f-d41d69216a2f">
            <!-- Comment Row -->
            <div class="d-flex flex-row comment-row mt-0">
                <div class="comment-text w-100">
                    <h6 class="font-medium" style="font-size:18px;">Tổng cộng: @ViewBag.YesterdayTotalOrder đơn hàng</h6>
                    <span class="mb-3 d-block" style="font-size:18px;">
                        Tổng tiền các đơn đã thanh toán: @(ViewBag.YesterdayTotalPrice)đ
                    </span>
                    <div class="comment-footer">
                        <a href="/Admin/ManagerOrder/Index/1" class="btn btn-primary btn-sm text-white">
                            @ViewBag.YesterdayTotalOrderDisplay đang câu
                        </a>
                        <a href="/Admin/ManagerOrder/Index/1" class="btn btn-success btn-sm text-white">
                            @ViewBag.YesterdayTotalOrderSuccess đã thanh toán
                        </a>
                    </div>
                </div>
            </div>
            <!-- Comment Row -->
        </div>
    </div>
</div>