﻿@model CMS.Model.Config
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

@if (ViewBag.Id == "1" || ViewBag.Id == "2" || ViewBag.Id == "3" || ViewBag.Id == "9")
{
    @section ScriptsBottom {
    <script src="/Areas/Admin/ckfinder/ckfinder.js"></script>
    <script src="~/Areas/Admin/ckeditor/ckeditor.js"></script>
    <script src="/Areas/Admin/ckeditor/adapters/jquery.js"></script>
    <script src="/Areas/Admin/ckeditor/config.js"></script>
    <script>
        $(document).ready(function () {
            // Create the editor
            CKEDITOR.replace('Content', {
                language: 'vi',
                height: '500px',
                filebrowserBrowseUrl: '/ExplorerImage/cke/',
                filebrowserUploadUrl: '/ExplorerImage/cke/',
                filebrowserImageBrowseUrl: '/ExplorerImage/cke/'
            });
        });
    </script>
    }
}

<div class="card">
    <div class="card-body">
        @using (Html.BeginForm("Edit", "Config", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            if (ViewBag.Id == "4" || ViewBag.Id == "5" || ViewBag.Id == "6" || ViewBag.Id == "7"
                 || ViewBag.Id == "8" || ViewBag.Id == "10" || ViewBag.Id == "14")
            {
                <div class="form-group mt-3">
                    <label>
                        Nội dung
                    </label>
                    <div class="controls">
                        @Html.TextBoxFor(model => model.Content, new { @class = "form-control", @placeholder = "Nội dung", @autofocus = "autofocus" })
                    </div>
                </div>
            }
            else if (ViewBag.Id == "12" || ViewBag.Id == "13")
            {
                <div class="form-group mt-3">
                    <label>
                        Hình ảnh
                    </label>
                    <div class="controls">
                        @Html.TextBoxFor(model => model.Content, new { @class = "form-control", @placeholder = "Hình ảnh", @autofocus = "autofocus", @readonly = "readonly", @style="width: 60%;float:left;" })
                        <span class="help-inline " style="color:red;">
                            *
                        </span>
                        <a onclick="openPopupWindowImage('Content')" class="btn btn-info">Chọn hình ảnh</a>
                    </div>
                </div>
            }

            else if (ViewBag.Id == "11")
            {
                <div class="form-group mt-3">
                    <label>
                        Nội dung
                    </label>
                    <div class="controls">
                        @Html.TextAreaFor(model => model.Content, new { @class = "form-control", @placeholder = "Nội dung", @autofocus = "autofocus", @style = "height:100px;" })
                    </div>
                </div>
            }
            else
            {
            <div class="form-group mt-3">
                <label>
                    Nội dung
                </label>
                <div class="controls">
                    @Html.TextAreaFor(model => model.Content, new { @class = "form-control", @placeholder = "", @autofocus = "autofocus", @style = "height:500px;" })
                </div>
            </div>
            }
            <div class="form-actions no-margin">
                <a href="/Admin/Config/Index" class="btn btn-secondary btn-sm">Hủy</a>
                <button type="submit" class="btn btn-success btn-sm text-white">Cập nhật</button>
            </div>
        }
        <div class="clearfix">
        </div>
    </div>
</div>

