﻿@model List<CMS.Model.Config_GetByStatus_Result>
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

<div class="row-fluid card">
    <div class="col-md-12">
        <div class="widget">
            <div class="widget-body">
                <table class="table table-condensed table-striped table-bordered table-hover no-margin">
                    <tr>
                        <th>Mã bản ghi</th>
                        <th>Tên thiết lập</th>
                        <th>Chức năng</th>
                    </tr>
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        var item = Model[i];
                        <tr id="row_@item.Id">
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-danger btn-sm text-white dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true"aria-expanded="false">
                                        Action
                                        <span class="caret"></span>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href='/Admin/Config/Edit/@CMS.Common.StringProcess.Encryption.Encode(item.Id.ToString())'>Sửa</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
