﻿@model List<CMS.Model.PriceBoard_GetByStatus_Result>
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}
<div class="row-fluid card">
    <div class="col-md-12">
        <div class="widget">
            <div class="widget-body">
                <table class="table table-condensed table-striped table-bordered table-hover no-margin">
                    <tr>
                        <th>Thời gian</th>
                        <th>Giá</th>
                        <th>Ghi chú</th>
                    </tr>
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        var item = Model[i];
                <tr id="row_@item.Id">
                    <td>Từ @(item.TotalTimeStart)h đến @(item.TotalTimeEnd)h</td>
                    <td>@(String.Format("{0:0,0}", Convert.ToDecimal(item.Price)))đ</td>
                    <td>@item.Note</td>
                </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>