﻿@model CMS.Model.PriceBoard
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}
<div class="card">
    <div class="card-body">
        @using (Html.BeginForm("Create", "ManagerPriceBoard", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="col-sm-7 form-control-span">
                <div class="col-sm-12 form-control-span-main">
                    <div class="form-group mt-3">
                        <label class="control-label">
                            Thời gian bắt đầu
                            <span class="help-inline " style="color:red;">*</span>
                        </label>
                        <div class="controls">
                            @Html.TextBoxFor(model => model.TotalTimeStart, new { @class = "form-control", @placeholder = "", @autofocus = "autofocus", type = "number", min = "0", step="0.1" })
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <label class="control-label">
                            Thời gian kết thúc
                            <span class="help-inline " style="color:red;">*</span>
                        </label>
                        <div class="controls">
                            @Html.TextBoxFor(model => model.TotalTimeEnd, new { @class = "form-control", @placeholder = "", @autofocus = "autofocus", type = "number", min = "0", step = "0.1" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5 form-control-span">
                <div class="col-sm-12 form-control-span-main">
                    <div class="form-group mt-3">
                        <label class="control-label">
                            Giá
                        </label>
                        <div class="controls">
                            @Html.TextBoxFor(model => model.Price, new { @class = "form-control", @placeholder = "", @autofocus = "autofocus", type = "number", min = "0" })
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <label class="control-label">
                            Thứ tự hiển thị
                        </label>
                        <div class="controls">
                            @Html.DropDownListFor(model => model.Value01, null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Value01)
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions no-margin">
                <a href="/Admin/ManagerPriceBoard/Index/" class="btn btn-secondary btn-sm">Hủy</a>
                <button type="submit" class="btn btn-success btn-sm text-white">Thêm mới</button>
            </div>
        }
        <div class="clearfix">
        </div>
    </div>
</div>
