﻿<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    @*<script src="/Areas/Admin/BluemoonTheme/js/jquery-1.9.1.min.js"></script>*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/bootstrap-3.3.2-dist/js/libs/bootstrap.min.js"></script>
    <script src="~/Scripts/clipboard.js"></script>
    <link href="~/bootstrap-3.3.2-dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Css/Style.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
    <script type="text/javascript">
        //Hàm setupp cho Alert thông báo
        //$(function () {//Hiển thị thông báo
        //    $('#AlertBox').removeClass('hide');
        //    $('#AlertBox').delay(5000).slideUp(1000);
        //});
    </script>
</head>
<body style="background:#FFFFFF;" @*onselectstart="return false" oncontextmenu="return false"*@>
    <div id="form1">
        @if (TempData["AlertMessage"] != null)
        {
            <div id="AlertBox" class="alert alert-block fade in @TempData["AlertType"] hide" style="text-align:center;">
                <button data-dismiss="alert" class="close" type="button">
                    ×
                </button>
                <p>
                    @TempData["AlertMessage"]
                </p>
            </div>
        }
        <div class="col col-xs-12">
            @RenderBody()
        </div>
    </div>
</body>
</html>