﻿@using CMS.Model
@using CMS.Common.Permission
@using CMS.Dao
<!-- Topbar header - style you can find in pages.scss -->
<!-- ============================================================== -->
<header class="topbar" data-navbarbg="skin5">
    <nav class="navbar top-navbar navbar-expand-md navbar-dark">
        <div class="navbar-header" data-logobg="skin5">
            <!-- ============================================================== -->
            <!-- Logo -->
            <!-- ============================================================== -->
            <a href='#' class="navbar-brand" title="Trang chủ">
                <img src="~/Areas/Admin/img/logo.png" alt="Logo" />
            </a>
            <!-- ============================================================== -->
            <!-- End Logo -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Toggle which is visible on mobile only -->
            <!-- ============================================================== -->
            <a class="nav-toggler waves-effect waves-light d-block d-md-none"
               href="javascript:void(0)">
                <i class="ti-menu ti-close"></i>
            </a>
        </div>
        <!-- ============================================================== -->
        <!-- End Logo -->
        <!-- ============================================================== -->
        <div class="navbar-collapse collapse"
             id="navbarSupportedContent"
             data-navbarbg="skin5">
            <!-- ============================================================== -->
            <!-- toggle and nav items -->
            <!-- ============================================================== -->
            <ul class="navbar-nav float-start me-auto">
                <li class="nav-item d-none d-lg-block">
                    <a class="nav-link sidebartoggler waves-effect waves-light"
                       href="javascript:void(0)"
                       data-sidebartype="mini-sidebar">
                        <i class="mdi mdi-menu font-24"></i>
                    </a>
                </li>
                <!-- ============================================================== -->
            </ul>
            <!-- ============================================================== -->
            <!-- Right side toggle and nav items -->
            <!-- ============================================================== -->
            <ul class="navbar-nav float-end">
                <!-- ============================================================== -->
                <!-- User profile and search -->
                <!-- ============================================================== -->
                @{
                    if (ViewBag.ItemLoginAccount != null)
                    {
                        CMS.Model.LoginAccount itemLoginAccount = new CMS.Model.LoginAccount();
                        itemLoginAccount = (CMS.Model.LoginAccount)ViewBag.ItemLoginAccount;
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="~/Areas/Admin/Bootstrap-5-Matrix-Admin/assets/images/users/1.jpg" alt="user" class="rounded-circle" width="31" />
                                <span>@itemLoginAccount.FullName</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end user-dd animated"aria-labelledby="navbarDropdown">
                                @if ((string[])ViewBag.ListAuthority != null)
                                {
                                    string[] listAuthority = (string[])ViewBag.ListAuthority;
                                    foreach (var itemAuthority in listAuthority)
                                    {
                                        if (Permission.ManagerLoginAccount == itemAuthority)
                                        {
                                            <a class="dropdown-item" href="/Admin/ManagerLoginAccount/Details"><i class="fas fa-user-circle"></i> Thông tin tài khoản</a>
                                        }
                                        if (Permission.ManagerLoginAccount == itemAuthority)
                                        {
                                            <a class="dropdown-item" href="/Admin/ManagerLoginAccount/ChangePass"><i class="fas fa-sync-alt"></i> Đổi mật khẩu</a>
                                        }
                                    }
                                }
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/Manager/logout"><i class="fa fa-power-off me-1 ms-1"></i> Đăng xuất</a>
                            </div>
                        </li>
                    }
                }
                <!-- ============================================================== -->
                <!-- User profile and search -->
                <!-- ============================================================== -->
            </ul>
        </div>
    </nav>
</header>
<!-- ============================================================== -->
<!-- End Topbar header -->
<!-- ============================================================== -->