﻿@using CMS.Model
@using CMS.Common.Permission
@using CMS.Dao
<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar" data-sidebarbg="skin5">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav" class="pt-4">
                @{
                    if ((string[])ViewBag.ListAuthority != null)
                    {
                        string[] listAuthority = (string[])ViewBag.ListAuthority;
                        //Nhân viên
                        foreach (var itemAuthority in listAuthority)
                        {
                            if (Permission.Home == itemAuthority)
                            {
                                <li class="sidebar-item@(ViewBag.ControllersName=="Home"?" selected":"")">
                                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/Admin/Home" aria-expanded="false">
                                        <i class="mdi mdi-home"></i><span class="hide-menu">Trang chủ</span>
                                    </a>
                                </li>
                            }
                        }
                        foreach (var itemAuthority in listAuthority)
                        {
                            if (Permission.PriceBoard == itemAuthority)
                            {
                                <li class="sidebar-item@(ViewBag.ControllersName == "PriceBoard" ? " selected" : "")">
                                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/Admin/PriceBoard/Index" aria-expanded="false">
                                        <i class="fas fa-dollar-sign"></i><span class="hide-menu">Bảng giá</span>
                                    </a>
                                </li>
                            }
                        }


                        //Quản lý
                        foreach (var itemAuthority in listAuthority)
                        {
                            if (Permission.HomeManager == itemAuthority)
                            {
                                <li class="sidebar-item@(ViewBag.ControllersName == "HomeManager" ? " selected" : "")">
                                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/Admin/HomeManager" aria-expanded="false">
                                        <i class="mdi mdi-home"></i><span class="hide-menu">Trang chủ</span>
                                    </a>
                                </li>
                            }
                        }
                        foreach (var itemAuthority in listAuthority)
                        {
                            if (Permission.ManagerOrder == itemAuthority)
                            {
                                <li class="sidebar-item@(ViewBag.ControllersName == "ManagerOrder" ? " selected" : "")">
                                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/Admin/ManagerOrder/Index/1" aria-expanded="false">
                                        <i class="fas fa-shopping-cart"></i><span class="hide-menu">Câu cá</span>
                                    </a>
                                </li>
                            }
                        }
                        foreach (var itemAuthority in listAuthority)
                        {
                            if (Permission.ManagerOrder == itemAuthority)
                            {
                                <li class="sidebar-item@(ViewBag.ControllersName == "ManagerOrderSearch" ? " selected" : "")">
                                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/Admin/ManagerOrder/Search/null-null-null-1" aria-expanded="false">
                                        <i class="fas fa-search"></i><span class="hide-menu">Tìm kiếm - Thống kê</span>
                                    </a>
                                </li>
                            }
                        }
                        foreach (var itemAuthority in listAuthority)
                        {
                            if (Permission.ManagerPriceBoard == itemAuthority)
                            {
                                <li class="sidebar-item@(ViewBag.ControllersName == "ManagerPriceBoard" ? " selected" : "")">
                                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/Admin/ManagerPriceBoard/Index" aria-expanded="false">
                                        <i class="fas fa-dollar-sign"></i><span class="hide-menu">Bảng giá</span>
                                    </a>
                                </li>
                            }
                        }
                        foreach (var itemAuthority in listAuthority)
                        {
                            if (Permission.ManagerLoginAccount == itemAuthority)
                            {
                                <li class="sidebar-item@(ViewBag.ControllersName=="ManagerLoginAccount"?" selected":"")">
                                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                                        <i class="fas fa-user"></i><span class="hide-menu">Tài khoản </span>
                                    </a>
                                    <ul aria-expanded="false" class="collapse first-level">
                                        <li class="sidebar-item">
                                            <a href="/Admin/ManagerLoginAccount/Create" class="sidebar-link">
                                                <i class="mdi mdi-plus-box"></i><span class="hide-menu"> Thêm mới tài khoản</span>
                                            </a>
                                        </li>
                                        <li class="sidebar-item">
                                            <a href="/Admin/ManagerLoginAccount/Index/1" class="sidebar-link">
                                                <i class="mdi mdi-view-list"></i><span class="hide-menu"> Danh sách tài khoản</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            }
                        }
                        foreach (var itemAuthority in listAuthority)
                        {
                            if (Permission.Config == itemAuthority)
                            {
                                <li class="sidebar-item@(ViewBag.ControllersName=="Config"?" selected":"")">
                                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/Admin/Config/Index" aria-expanded="false">
                                        <i class="mdi mdi-brightness-5"></i><span class="hide-menu">Cài đặt hệ thống</span>
                                    </a>
                                </li>
                            }
                        }
                        //end Quản lý
                    }
                }
            </ul>
            </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->